<div class="card">
  <header class="card__header">
    <img src="/images/bg-pattern-card.svg" alt="" />
  </header>
  <div class="card__body">
    <img class="profile" src="/images/image-victor.jpg" alt="" />
    <div class="grid grid--1x2">
      <div class="name">Victor Crest</div>
      <div class="age">26</div>
    </div>
    <div class="address">London</div>
  </div>
  <footer class="card__footer grid grid--1x3">
    <div class="stats">
      80K
      <div class="metric">Followers</div>
    </div>
    <div class="stats">
      803K
      <div class="metric">Likes</div>
    </div>
    <div class="stats">
      1.4K
      <div class="metric">Photos</div>
    </div>
  </footer>
</div>
